html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background:#ffffff;
  color: #4f4f4f;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

section {
    padding:10px;
}

.header, .footer {
    text-align: center;
    background-color:#ff7802;
    color:#ffffff;
}

.sidebar {
    float:left;
    width:20%;
}

.content {
    float:left;
    width:80%;
    padding:0;
}

.footer, .content:after {
    clear:left;
    width:100%;
    height:50px;
}

label {
    display : block;
}

.filters {
    border:1px solid #ccc;
    border-radius:5px;
    box-shadow:2px 4px 8px #999999;
    background: #eaeaea;
}

.filters>div {
    padding-bottom:10px;
}

.button {
    box-shadow:1px 3px 5px #999999;
    padding:5px;
    width:100px;
    text-align:center;
    border:1px solid #cccccc;
    border-radius:4px;
    cursor:pointer;
}

.sort-bar-button {
    float:left;
    margin-right:10px;
}

.sort-bar {
    clear:both;
}

.sort-selected {
    background:#999999;
    color:#ffffff;
    font-weight:bold;
}

.pager, .hotel-list {
    clear:both;
}


.pager .prev, .pager .next {
    float : left;
    margin-right:10px;
}

input, select {
    width : 100%;
    padding : 8px;
}

.hotel-list ul {
    list-style:none;
    margin:0;
    padding:0;
}

.hotel-card {
    float:left;
    padding:0 15px 15px 0;
}

.hotel-card>div {
    box-shadow:2px 4px 8px #999999;
    border:1px solid #cccccc;
    border-radius:5px;
    width:300px;
    padding:20px;
    background: #eaeaea;
}

.hotel-image {
    width:100%;
    height:250px;
}

.hotel-price {
    font-weight:bold;
    color:#ff7802;
    font-size:1.2em;
}

.hotel-overlay {
    background-color:#fff;
    width:258px;
}

.hotel-overlay h3 {
    background-color:#155087;
    color:#ffffff;
    font-weight:bold;
    padding:8px;
    margin:0;
}

.hotel-text {
    padding:10px;
}

.truncate {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.star {
    background-image:url(star.png);
    background-repeat:no-repeat;
    width:32px;
    height:32px;
    float:left;
}

.stars input {
    height:24px;
    width:24px;
}

.clear {
    clear:both;
}
