html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #eaeaea;
  color: #4f4f4f;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
}

section {
    padding:10px;
}

.header, .footer {
    text-align: center;
    background-color:#aaa;
    color:#555;
}

.sidebar {
    float:left;
    width:20%;
}

.content {
    float:left;
    width:80%;
    padding:0;
}

.footer {
    clear:both;
}

label {
    display : block;
}

.filters>div {
    padding-bottom:10px;
}

.button {
    padding:5px;
    width:100px;
    text-align:center;
    border:1px solid #999999;
    border-radius:4px;
    cursor:pointer;
}

.sort-bar-button {
    float:left;
    margin-right:5px;
}

.sort-bar {
    clear:both;
}

.sort-selected {
    background:#999999;
    color:#ffffff;
    font-weight:bold;
}

.pager, .hotel-list {
    clear:both;
}

.pager .next {
    float : right;
}

.pager .prev {
    float : left;
}

input, select {
    width : 100%;
    padding : 8px;
}
