doctype html
html
  head
    meta(charset='UTF-8')
    title Travel Republic Hotel Search
    script(type='text/javascript', src='javascripts/TrpTest.js')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
  script(type='text/javascript').
    var app = Elm.fullscreen(Elm.TrpTest);

